/* .body{
  overflow-x: hidden;
} */
.banner {
    background-color: rgb(67, 117, 117);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    overflow-x: hidden;
    flex-wrap: wrap;
  }
  .ban_photo{
    z-index: -1;
    filter: brightness(40%);
    height: 600px;
    background-size: cover;
  }
  .banner-title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .pro_img{
    margin: 20px;
    border-radius: 10px;
  }
   .filter {
    display: flex;
    position: absolute;
    justify-content: center;
  right: 50%;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%); 
  align-items: center;
  } 
  input{
    top: 0px;
    border-radius: 10px;
    height: 40px;
  }
  
  
  select {
    position: relative;
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin-right: 30px;
    margin-left: 10px;
    margin: 20px;
    background-color: beige;
  }
  
  input[type='text'] {
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    top: 20px;
    margin: 7px;
    background-color:beige;
    margin-left: 20px;
  }  
  img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .website-name{
    position: absolute;
    color: rgb(251, 255, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  }
  h1 {
    font-size: 2em;
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(30, end);
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  .typing-cursor {
    border-right: 0.15em solid;
    animation: blink 0.75s step-end infinite;
  }
  
  @keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product span{
    position: relative;
    justify-content: center;
    padding-bottom: 0%;
  }
  .product {
    width: 20%;
    display: grid;
  margin: 1% 2%;
  position: inherit;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
transition: 0.4s;
  height: auto;
  overflow: hidden;
  color: white;
  justify-content: center;
  justify-items: center;
  padding: 15px;
  border: 1px solid black;
  }
  .product img {
    width: 50;
    aspect-ratio: 3/4;
    justify-self: center;
    object-fit: cover; 
    max-width:100%;
    max-height: 300px;
    height: 300px;
    object-fit: contain;
  }
  .clear {
    clear: both;
  }
  .product:hover {
    background: rgb(232, 67, 67);
    box-shadow: 30px 24px 5px -5px rgba(0,0,0,0.75);
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .product {
      width: 45%;
      margin: 2% 0;
     
    }
  }
  .container{
    position: relative;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.388);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: -21;
    right: 0;
    z-index: 1;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .topnav {
    background-color: #333;
    overflow: hidden;
    position: relative;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  @media (max-width: 576px) {
    .mr-auto {
      flex-direction: column;
    }
    .navbar-nav .nav-link:last-child {
      margin-top: 10px;
    }
    .website-name{
      font-size: 60px;
    }
    .product{
      border: none;
    }
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  .navbar ul{
    list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  padding: 10;
  margin: 0;
  }
  @media (max-width: 700px) {
    .navbar-container {
      display: flex;
      justify-content: space-between;
    }
    .navbar-list {
      display: flex;
      flex-direction: row;
    }
  }
  .navbar li {
    display: inline-block;
    margin-right: 50px;
    flex-direction:row; 
    float: none;
  }
  .navbar-list{
    display: flex;
    flex-wrap: wrap;
  }
  nav a {
    font-size: 20px;
    margin: 0 16px;
    text-decoration: none;
    color: black;
  }
  
  /*  */
  .left-align{
    text-align: left;
  }
  .faicons{
    color: white;
    height: 20px;
    left: 40%;
    margin-left: 12px;
    border: 2px solid beige;
    padding: 7px;
    border-radius: 999px;
    transition: 0.5s;
  }
  .faicons:hover{
    background-color: beige;
    color: black;
  }
  input[type='text'] :hover{
    color: lightblue;
  }
  @media only screen and (max-width: 490px) {
    body {
      overflow-x: hidden;
    }
  }
  